/* @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: center; */
  --bg-color: rgb(23, 36, 34);
  --panels-color: rgb(29, 53, 49);
  --panels-hover-color: rgb(35, 65, 60);
  --inputs-color: rgb(38, 80, 73);
  --inputs-hover-color: rgb(43, 95, 86);
  --text-color: rgb(211, 252, 241);
  color: var(--text-color);
  background-color: var(--bg-color);
}

#registration {
  position: relative;
  /* top: 30%; */
  background-color: var(--panels-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  min-width: 500px;
  max-width: 500px;
  margin: auto;
}

#registration input, #registration button {
  background-color: var(--inputs-color);
  color: var(--text-color);
}

#registration * {
  /* font-family: "Bungee", serif; */
  margin: 5px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


#registration h1 {
  justify-content: left;
}

#registration h1 {
  /* font-family: "Bungee", serif; */
  background-color: transparent;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 50px;
  justify-content: space-between;
  max-width: calc(100% - 20px);
  width: 100%;
  padding: 10px;
  align-items: center;
  background-color: var(--panels-color);
}

header #headerLeft, header #headerCenter, header #headerRight {
  width: 30%;
  display: flex;
}

header #headerCenter {
  justify-content: center;
  width: 39%;
}

header #searchDiv {
  background-color: var(--inputs-color);
  width: 90%;
  display: flex;
  border-radius: 30px;
}

header #searchDiv input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: var(--text-color);
}

header #searchDiv button {
  margin: 0;
  background-color: transparent;
  color: black;
  border-radius: 0 30px 30px 0; 
  color: var(--text-color);
  &:hover {
    background-color: var(--inputs-hover-color);
  }
}

header #headerRight {
  justify-content: right;
}

#homePage {
  max-height: calc(100vh - 140px);
  flex-grow: 1;
  /* padding: 15px; */
  display: flex;
}

#homeRight {
  flex-grow: 1;
  overflow-y: scroll;
}

#myWave {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./assets/8636ce0b8e1fa0498706e0aeff131db9.gif');
  /* background: url('./assets/3BBS.gif'); */
  background-size: cover;
  background-position: center;
}

#homeGenres {
  display: flex;
}

#wavePlayBtn {
  width: 100px;
  height: 50px;
  /* border-radius: 40px; */
  justify-content: space-evenly;
}

#myMedia {
  min-width: 250px;
  padding: 10px;
  padding-right: 5px;
  overflow-y: scroll;
}

#myPlaylists {
  display: flex;
  flex-direction: column;
}

.playlist, .album {
  display: flex;
  margin: 5px 0;
  background-color: var(--inputs-color);
  width: 95%;
  padding: 3px;
  border-radius: 5px;
  &:hover {
    background-color: var(--inputs-hover-color);
    cursor: pointer;
  }
}

.playlist img, .album img {
  width: 50px;
  height: 50px;
}

.playlistTextInfo {
  padding: 5px;
}

#allTracks {
  padding: 10px;
  padding-left: 5px;
  overflow-y: scroll;
  flex-grow: 1;
}

.track {
  display: flex;
  margin: 5px 0;
  background-color: var(--panels-color);
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: var(--panels-hover-color);
  }
}

.track .trackLeftInfo {
  display: flex;
  width: 33%;
}

.track .trackTextInfo {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  flex-grow: 1;
}

.track .trackAlbumInfo {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track .trackDurationInfo {
  width: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.track img {
  width: 40px;
  height: 40px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  background-color: var(--inputs-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--inputs-hover-color);
}

#RockGanre {
  background-color: rgba(0, 0, 139, 0.5);
}
#PopGanre {
  background-color: rgba(255, 192, 203, 0.5);
}
#MetalGanre {
  background-color: rgba(165, 42, 42, 0.5);
}
#ClassicalGanre {
  background-color: rgba(255, 166, 0, 0.5);
}
/* #MusicForSexGanre {
  background-color: rgba(139, 29, 29, 0.5);
} */
#HipHopGanre {
  background-color: rgba(100, 148, 237, 0.5);
}

#createBtns {
  display: flex;
}

#profilePage {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  overflow-y: scroll;
  padding: 15px;
}

#userInfo {
  display: flex;
  margin-bottom: 15px;
}

#userInfo img {
  border-radius: 10px;
}

#userInfo #userTextInfo {
  margin: 15px;
}

#usersPage {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  overflow-y: scroll;
}

#usersPage .user {
  display: flex;
  margin: 10px 5px;
  padding: 5px;
  align-items: center;
  background-color: var(--panels-color);
  border-radius: 5px;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    background-color: var(--panels-hover-color);
  }
}

#usersPage .user .userAdminBtns {
  display: flex;
}

#usersPage .user .userAdminBtns button.selected {
  outline: 2px solid rgba(63, 233, 63, 0.452);
}

#usersPage .user .userLeftInfo {
  display: flex;
}

#usersPage .user .userLeftInfo img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#usersPage .user .userCardTextInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#usersPage .user .userLoginAndRole span {
  margin-right: 5px;
}

#usersPage .user .userLoginAndRole span.usrCardRole {
  opacity: 0.4;
}

#profilePage #userTracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 0px 15px;
  /* overflow-x: scroll; */
}

#profilePage #userTracks .trackTextInfo {
  justify-content: center;
}

#profilePage .album, #profilePage .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profilePage .album img, #profilePage .playlist img {
  width: 200px;
  height: 200px;
  background-color: var(--inputs-color);
}

#profilePage #userAlbums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 0px 15px;
}

#profilePage #userPlaylists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 0px 15px;
}

#tracksPage {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 170px);
  overflow-y: scroll;
}